
.latest__blog-title1 {
    margin-bottom: 150px;
}
.latest__blog1 {
 

    .latest__blog-box1 {
        margin-bottom: 30px;
        .latest__blog-content1 {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 20px;
            
            .blog__content1-items {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                gap: 20px;
                
                .content1__items-title {
                    font-family: Rubik;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.2;
                    color: #1C3554;
                }
                
                .content1__items-date {
                    font-family: Montserrat SemiBold;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.2;
                    color: #808080;
                }
                
                .content1__items-text {
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.2;
                    color: #808080;
                    margin-bottom: 30px;
                }
                
                .content1__items-link {
                    padding: 12px 32px;
                    border-radius: 8px;
                    border: 2px solid #F72585;
                    color: #1C3554;
                }
                
                .content1__items-link:hover {
                    background-color: #F72585;
                    color: #FFF;
                }
            }
        }
    }
}

@media(max-width: 1009px) {

    .latest__blog-title1 {
        margin-bottom: 50px;
    }
    .latest__blog-box1 .latest__blog-content1 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .latest__blog-box1 .latest__blog-content1 .blog__content1-items {
        align-items: center;
    }
}