
.gallery{
    padding:80px 0 90px;
 
    
}

.gallery__box{ 
    text-align: center;
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 4px;
    background-color: slategray;
   
}

.gallery__buttons{
                text-align:center;
                margin-bottom:40px}

.gallery__btn{
            margin:0 13px;background-color:rgba(0,0,0,0);
              border:1px solid #454647;
              border-radius:20px;
              padding:6px 16px;
              color:#8f8d8d;
              font-size:14px;
              font-weight:600;
              cursor:pointer}
    
.gallery .mixitup-control-active{
    background-color:#ffef35;
    border:1px solid #ffef35;
    color:#363636}
    
.gallery__items{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px; 
    }

    .gallery__item{
        position: relative;
        min-width: 250px;
        display: flex;
        align-items: center;
        flex-direction: column; 
        text-align: center;
        margin-bottom: 20px; 
        gap: 5px;

    }


    .gallery__item-datail{
        position: absolute; 
        top: 35%;
        position: absolute;
        font-size: 35px;
        color: gold;
        line-height: 1.2;
        font-weight: 900;
        background-color: #021934;
        opacity: 0;
    }

    .gallery__item:hover{
        
        .gallery__item-datail{
            opacity: 1;
            cursor: pointer;
            
             
        }
        .gallery__img{
            opacity: .2;
            border-radius: 8px;
        }

    }

.gallery__item img{-o-object-fit:cover;object-fit:cover;width:80%; height:80%}


 
.gallery__inner{
    margin-bottom:40px;
    text-align: center;}

.gallery__course-area{
    padding: 4px 24px;
    border-radius: 8px; 
    background-color: #4586D6;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    
}

.gallery__course-area:hover{
    background-color: #F72585;
}
 
.gallery__course-name{
    color: #021934;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
 
.gallery__course-price{
    color: #021934;
    font-family: Rubik;
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
}
.gallery__course-price span{
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    color: #CCC;
    padding-right: 10px;
    text-decoration: line-through;
}

.gallery__btn-order{
    padding: 4px 24px;
    border-radius: 8px; 
    background-color: #4586D6;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
}

.gallery__btn-order:hover{
    background-color: #F72585;
}
.gallery__course-all{
    padding: 14px 55px; 
    background-color: transparent;
    border: 1px solid #039be5;
    border-radius: 5px;
    color: #000; 
    
}

.gallery__course-all:hover{
    background-color: #F72585;
    color: #FFF;
}


@media(max-width: 1192px){

    .gallery__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 35px;
    }

    .gallery__item { 
        min-width: 195px  !important;  
    }
    .gallery.gallery-page .gallery__item img {
        max-height: 211px  !important;
    }
    .gallery__btn {
        margin: 4px 13px !important;
    }

}

@media(max-width: 710px){
    .gallery__items { 
        grid-template-columns: repeat(2, 1fr) !important; 
    }
}

@media(max-width: 475px){
    .gallery__items { 
        grid-template-columns: repeat(1, 1fr) !important; 
    }
}