 
.header {
  
	.container {
		max-width: 1220px;
		margin-left: auto;
		margin-right: auto;
		padding: 0 10px;
	
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;	
	}
 
    &__form{
		position: relative;
  		width: 300px;
  		margin: 0 auto;
  		.form__header-input {
		width: 100%;
		height: 32px;
		padding-left: 10px;
		border-radius: 8px;
		border: 1px solid  #CCC;
		outline: none; 
		color: #9E9C9C;
  }
  		.form__header-button {
			position: absolute; 
			top: 0;
			right: 0px;
			width: 42px;
			height: 32px;
			border: none;
			background: #021934;
			border-radius: 0 5px 5px 0;
			cursor: pointer;
  		}
  		.form__header-img{
			position: absolute; 
			top: 17%;
    		right: 3%;
			cursor: pointer;
		  }
 
	}
	
	&__box{
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px; 
		  nav ul {
			list-style: none;
			margin: 0;
			padding: 0;
		  }
		  nav a {
			text-decoration: none;
			display: block;
			color: #222;
			text-align: center;
		  }
		  .topmenu > li {
			display: inline-block;
			position: relative;
			text-align: center;
			margin-top: 26px;
		  }
		  
		  .topmenu > li > a {
			position: relative;
			padding: 1px 15px; 
			font-family: Montserrat;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
		  }
		  .topmenu > li > a:before {
			content: "";
			position: absolute;
			z-index: 5;
			left: 50%;
			top: 100%;
			width: 10px;
			height: 10px;
			background: white;
			border-radius: 50%;
			transform: translate(-50%, 20px);
			opacity: 0;
			transition: .3s;
		  }
		  .topmenu li:hover a:before {
			transform: translate(-50%, 0);
			opacity: 1;
		  }
		  .submenu {
			position: absolute;
			z-index: 4;
			left: 50%;
			top: 100%;
			width: 150px;
			padding: 15px 0 15px;
			margin-top: 5px;
			background: white;
			border-radius: 5px;
			box-shadow: 0 0 30px rgba(0,0,0,.2);
			box-sizing: border-box;
			visibility: hidden;
			opacity: 0;
			transform: translate(-50%, 20px);
			transition: .3s;
			text-align: center;
		  }
		  .topmenu > li:hover .submenu {
			visibility: visible;
			opacity: 1;
			transform: translate(-50%, 0);
		  }
		  .submenu a {
			font-family: 'Libre Baskerville', serif;
			font-size: 11px;
			letter-spacing: 1px;
			padding: 5px 10px;
			transition: .3s linear;
		  }
		  .submenu a:hover {background: #e8e8e8;}
		.box__mentor{
			white-space: nowrap;
			font-family: Montserrat SemiBold;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 1.2;
		}

		.sign__button{
			padding: 8px 24px;  
			border-radius: 8px;
			border: 1px solid #000;  
			white-space: nowrap;
			background-color: transparent;
			border: 1px solid #039be5;
			border-radius: 5px;
			-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
			box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
			color: #000;
			display: inline-block;
			font-size: 1rem;
			font-weight: 300;
			margin: 6px;
			overflow: hidden;
			position: relative; 
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			-webkit-transition: .2s ease-out;
			transition: .2s ease-out; 
			
			
		}
		.sign__button:hover {
			white-space: nowrap;
			color: #fefefe;
			background-color: #F72585;
			-webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
			box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
		}
		


		}
	 
	}

	 
	@media(max-width: 800px){
	 .box__mentor,
	 .topmenu{
		display: none;
	 }
	}


		 
	@media(max-width: 600px){
		 
		.header__form .form__header-input,
		.header__form .form__header-button { 
			height: 24px; 
		}

		.header__form .form__header-img { 
			top: 4%;
			right: 5%; 
		}
		.header__row
			{
				align-items: center;
				flex-direction: column-reverse;
				margin-top: 15px;
			}

			.header__form { 
				width: 250px; 
			}
		
	 
	   }


	   @media(max-width: 370px){
		 
		 
			.header__form { 
				width: 200px; 
			}
		
	 
	   }