h1{
    font-family: Rubik;
    font-size: 64px;
    line-height: 1.2;
    font-style: normal;
    font-weight: 700;    
    margin-top: 88px;
   
}
h2{
    font-family: Rubik;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    color: #1C3554;
}
p{
    font-family: Montserrat;
    font-size: 16px;
    line-height: 1.2;
    font-style: normal;
    font-weight: 400;
}

.container{
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}




.course{
    background-color: #021934;
    color: #FFF;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    margin-bottom: 50px;
    .course__box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        .course__box-left{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            .box__left-title{
                margin-top: 88px;
                margin-bottom: 24px;
            }
            .box__left-text{
                margin-bottom: 66px;
            }


            .box__left-form{
                position: relative;
                width: 530px;
                  .box__left-input {
                width: 100%;
                height: 52px;
                padding-left: 10px;
                border-radius: 8px;
                border: 1px solid  #CCC;
                outline: none; 
                color: #9E9C9C;
                background-color: #FFF;
                margin-bottom: 55px;
          }
                  .box__left-button {
                    position: absolute; 
                    top: 0;
                    right: 0px;
                    width: 42px;
                    height: 52px;
                    border: none;
                    background-color: #F72585;
                    border-radius: 0 5px 5px 0;
                    cursor: pointer;
                  }
                  .box__left-img{
                    position: absolute; 
                    top: 14%;
                    right: 7px;
                    cursor: pointer;
                  }

         
            }

            .box__left-information{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 90px; 
                
                .left__information-items{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 50px;
                    .information__items-img{
                        padding-right: 10px;
                    }
                    
                }
            }






        }
        .course__box-right{
            display: flex;
            align-items: flex-end; 
            padding: 20px;
        }

       .course__box-right{
        position: relative;
        width: 100%
       }
     
        .items__link-heart{
            width: 64px;
            height: 64px;
            transform: rotate(-19.5deg); 
            background-color: #F72585; 
            position: absolute;
            top: 17%;
            left: 17%;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
   
        .items__link-verified{
            width: 64px;
            height: 64px;
            transform: rotate(-19.5deg); 
            background-color:#4586D6; 
            position: absolute;
            top: 17%;
            left: 69%;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .items__link-bell{
            width: 64px;
            height: 64px;
            transform: rotate(-19.5deg);
            background-color:#021934; 
            position: absolute;
            top: 72%;
            left: 44%;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;

        }
 
    }
}
 


.gallery{
   
    padding: 80px 0 90px;
    &__buttons{
        text-align: center;
        margin-bottom: 40px;
    }

 
    &__btn{
        margin: 0 13px;
        background-color: transparent;
        border: 1px solid #454647;
        border-radius: 8px;
        padding: 8px 24px;
        color: #AAA;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
    }
    .mixitup-control-active{
        background-color: #F72585;
        border: 1px solid #FFEf35; 
        color: #FFF;
    }
    &__items{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 35px;
    }
    
    &__item img{
        object-fit: cover;
        width: 100%;
        max-height: 1150px;
        height: 100%;
    }
    &__inner{
        margin-bottom: 40px;
    }
    &.gallery-page{
        .gallery__item img{
            max-height: 1165px;
        }
        
    }
}

 


@media(max-width: 942px){

    .course .course__box .course__box-left .box__left-title {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 40px;
 
        
    }

    .course .course__box .course__box-left .box__left-form {
        position: relative;
        width: 348px;
    }
    .course .course__box .items__link-verified,
    .course .course__box .items__link-bell,
    .course .course__box .items__link-heart {
            
        width: 32px;
        height: 32px;
    }

 

}

@media(max-width: 638px){
    h2{
        font-size: 36px;
    }

    .course .course__box .items__link-verified,
    .course .course__box .items__link-bell,
    .course .course__box .items__link-heart {
            
        width: 44px;
        height: 44px;
    }
   
    .course .course__box {
        display: flex; 
        align-items: center;
        flex-direction: column-reverse;
}
.course .course__box .course__box-left{
    align-items: center;
    text-align: center;
    
}
}

@media(max-width: 423px){
    .course .course__box .course__box-left .box__left-form { 
        width: 222px;
    }
    .course .course__box .course__box-left .box__left-title {
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 30px;
    }
    .course .course__box .course__box-left .box__left-text {
        margin-bottom: 25px;
    }
    p{
        font-size: 13px;
    }
    .course .course__box .course__box-left .box__left-information {
        display: flex; 
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 15px; 
    }
}