h1{
    font-family: Rubik;
    font-size: 64px;
    line-height: 1.2;
    font-style: normal;
    font-weight: 700;    
    margin-top: 88px;
   
}
h2{
    font-family: Rubik;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    color: #1C3554;
}
p{
    font-family: Montserrat;
    font-size: 16px;
    line-height: 1.2;
    font-style: normal;
    font-weight: 400;
}

.container{
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.programming__topic{
margin-bottom: 50px;
}

.programming__course-title{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    text-align: center;
    .programming__title-text{
        margin-bottom: 40px;
    }
    .programming__title-about{
        color: #808080;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.2;
        max-width: 640px;
    }
}

@media(max-width: 650px){ 

    h1{
        font-size: 48px;
    }
    h2{
        font-size: 32px;
    }
} 
