
.swiper__box{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    
    swiper-container {
        width: 100%;
        height: 100%;
      }
  
      swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      .autoplay-progress {
        position: absolute;
        right: 16px;
        bottom: 16px;
        z-index: 10;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: var(--swiper-theme-color);
      }
  
      .autoplay-progress svg {
        --progress: 0;
        position: absolute;
        left: 0;
        top: 0px;
        z-index: 10;
        width: 100%;
        height: 100%;
        stroke-width: 4px;
        stroke: var(--swiper-theme-color);
        fill: none;
        stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
        stroke-dasharray: 125.6;
        transform: rotate(-90deg);
      }
      .swiper__rew-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: 900px;
        height: 400px;
        .rew__box-img{
            width: 338px;
            height: 377px;
            border-radius: 8px;
            border: 6px solid #F72585 ;     
        }
        .rew__box-items{
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            .rew__box-text{
                font-family: Rubik;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.2;
                color: #1C3554;
            }
            .rew__box-name{
                font-family: Rubik;
                font-size: 24px;
                font-style: normal;
                font-weight: 900;
                line-height: 1.2;

            }
            .rew__box-data{
                font-family: Montserrat SemiBold;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.2;
                color: #808080;
            }
        }
      }
}













@media(max-width: 1036px){ 

    .swiper__box{
        height: 700px;
       
        img{ 
            width: 271px !important;
            height: 254px !important;
            border-radius: 8px;
            border: 2px solid #F72585;
            min-width: none;
      
       
    }

        .swiper__rew-box{
            display: flex;
            align-items: center;
            flex-direction: column;
            

            .rew__box-items{ 
                gap: 10px;
                .rew__box-text{ 
                    font-size: 24px; 
                }
                .rew__box-name{ 
                    font-size: 16px; 
    
                }
                .rew__box-data{ 
                    font-size: 12px; 
                }
            }
        }
    }
  
}

@media(max-width: 760px){

    .swiper__box{
        height: 500px;

    
    .rew__box-items{ 
        gap: 5px;  
        
        .rew__box-text{ 
            font-size: 16px !important; 
        }
        .rew__box-name{ 
            font-size: 12px; 

        }
        .rew__box-data{ 
            font-size: 10px; 
        }
    }
} 
}

@media(max-width: 394px){ 

    .swiper__box{ 
        img{ 
            width: 220px !important;
            height: 200px !important; 
      
       
    } 
}
}

 